In [ ]:
import pandas as pd
import numpy as np
from google.colab import files

In [ ]:
upload = files.upload()

Saving train_data_copy_mlp.csv to train_data_copy_mlp.csv

In [ ]:
df = pd.read_csv('train_data_copy_mlp.csv')

In [ ]:
df.head()

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
0,2days,₹100000 or More,4~8,1,less1,Married partner,4 star restaurant,36,0,0,...,0,0,4,67,less1,22,Spring,Location B,0,No
1,2days,₹87500 - ₹99999,4~8,0,4~8,Married partner,Take-away restaurant,50plus,0,0,...,0,1,3,89,1~3,18,Summer,Location B,0,Yes
2,2days,₹87500 - ₹99999,less1,1,1~3,Single,Cold drinks,26,1,0,...,1,1,4,67,less1,7,Winter,Location A,1,Yes
3,10hours,₹37500 - ₹49999,less1,0,1~3,Single,Take-away restaurant,46,1,0,...,0,1,3,89,1~3,7,Summer,Location C,0,No
4,2days,₹100000 or More,never,1,1~3,Single,4 star restaurant,21,0,1,...,1,0,3,40,less1,7,Summer,Location C,0,No

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12379 entries, 0 to 12378
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      12379 non-null  object
 1   income_range                          12379 non-null  object
 2   no_visited_Cold drinks                12181 non-null  object
 3   travelled_more_than_15mins_for_offer  12379 non-null  int64
 4   Restaur_spend_less_than20             12258 non-null  object
 5   Marital Status                        12379 non-null  object
 6   restaurant type                       12379 non-null  object
 7   age                                   12379 non-null  object
 8   Prefer western over chinese           12379 non-null  int64
 9   travelled_more_than_25mins_for_offer  12379 non-null  int64
 10  travelled_more_than_5mins_for_offer   12379 non-null  int64
 11  no_visited_bars                       12286 non-null  object
 12  gender                                12379 non-null  object
 13  car                                   111 non-null    object
 14  restuarant_same_direction_house       12379 non-null  int64
 15  Cooks regularly                       12379 non-null  int64
 16  Customer type                         12379 non-null  object
 17  Qualification                         12379 non-null  object
 18  is foodie                             12379 non-null  int64
 19  no_Take-aways                         12235 non-null  object
 20  Job/Job Industry                      12379 non-null  object
 21  restuarant_opposite_direction_house   12379 non-null  int64
 22  has Children                          12379 non-null  int64
 23  visit restaurant with rating (avg)    12379 non-null  int64
 24  temperature                           12379 non-null  int64
 25  Restaur_spend_greater_than20          12219 non-null  object
 26  Travel Time                           12379 non-null  int64
 27  Climate                               12379 non-null  object
 28  drop location                         12379 non-null  object
 29  Prefer home food                      12379 non-null  int64
 30  Offer Accepted                        12379 non-null  object
dtypes: int64(13), object(18)
memory usage: 2.9+ MB

data_dictionary = {'offer expiration':'Number of days offer is valid,

'income_range': 'income range',

'no_visited_Cold drinks':'Number of times visited cold drinks',

'travelled_more_than_15mins_for_offer':'Have you traveled more than 15 mins to avail an offer?',

'Restaur_spend_less_than20': 'Number of times spend less than 20 dollar in restaurant,

'Marital Status': 'Marital status',

'restaurant type': 'type of restaurant',

'age': 'age',

'Prefer western over Chinese: 'Do you Prefer western over chinese'',

'travelled_more_than_25mins_for_offer': 'Have you traveled more than 25 mins to avail an offer?',

'travelled_more_than_5mins_for_offer': 'Have you traveled more than 5 mins to avail an offer?',

'no_visited_bars': 'Number of times visited bar',

'gender': 'gender',

'car': 'type of vehicle do you use in your own words',

'restuarant_same_direction_house',

'Cooks regularly': 'Do you cook regularly?',

'Customer type': 'Whom do you prefer to go with?',

'Qualification': 'Qualification',

'is foodie': 'Is foodie',

'no_Take-aways': 'Number of times opted for take-away',

'Job/Job Industry': 'Type of industry you work with',

'restuarant_opposite_direction_house': 'is the coupon offered restaurant located opposite direction to your house?',

'has Children':'Do you have children?',

'visit restaurant with rating (avg)': 'average rating of the restaurant which gave offer',

'temperature':'current temperature',

'Restaur_spend_greater_than20': 'Number of times spend greater than 20 dollar in restuarant',

'Travel Time': 'travel time for the restaurant which gave offer',

'Climate': 'current climate',

'drop location': 'where are you heading to?',

'Prefer home food': 'Do you prefer home food?',

'Offer Accepted': ' Did you accept the offer?'}

Target Variable: Offer Accepted

In [ ]:
df[df.columns[df.isna().any()]].head()

,no_visited_Cold drinks,Restaur_spend_less_than20,no_visited_bars,car,no_Take-aways,Restaur_spend_greater_than20
0,4~8,less1,less1,NaN,1~3,less1
1,4~8,4~8,never,NaN,1~3,1~3
2,less1,1~3,never,Mazda5,1~3,less1
3,less1,1~3,never,NaN,1~3,1~3
4,never,1~3,less1,NaN,gt8,less1

In [ ]:
df[df.columns[df.isna().any()]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12379 entries, 0 to 12378
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   no_visited_Cold drinks        12181 non-null  object
 1   Restaur_spend_less_than20     12258 non-null  object
 2   no_visited_bars               12286 non-null  object
 3   car                           111 non-null    object
 4   no_Take-aways                 12235 non-null  object
 5   Restaur_spend_greater_than20  12219 non-null  object
dtypes: object(6)
memory usage: 580.4+ KB

In [ ]:
df['car'] = df['car'].replace(np.nan, 'No_vehicle')

In [ ]:
df['car'].head()

0    No_vehicle
1    No_vehicle
2        Mazda5
3    No_vehicle
4    No_vehicle
Name: car, dtype: object

In [ ]:
df[df.columns[df.isna().any()]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12379 entries, 0 to 12378
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   no_visited_Cold drinks        12181 non-null  object
 1   Restaur_spend_less_than20     12258 non-null  object
 2   no_visited_bars               12286 non-null  object
 3   no_Take-aways                 12235 non-null  object
 4   Restaur_spend_greater_than20  12219 non-null  object
dtypes: object(5)
memory usage: 483.7+ KB

In [ ]:
df = df.dropna()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11802 entries, 0 to 12378
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      11802 non-null  object
 1   income_range                          11802 non-null  object
 2   no_visited_Cold drinks                11802 non-null  object
 3   travelled_more_than_15mins_for_offer  11802 non-null  int64
 4   Restaur_spend_less_than20             11802 non-null  object
 5   Marital Status                        11802 non-null  object
 6   restaurant type                       11802 non-null  object
 7   age                                   11802 non-null  object
 8   Prefer western over chinese           11802 non-null  int64
 9   travelled_more_than_25mins_for_offer  11802 non-null  int64
 10  travelled_more_than_5mins_for_offer   11802 non-null  int64
 11  no_visited_bars                       11802 non-null  object
 12  gender                                11802 non-null  object
 13  car                                   11802 non-null  object
 14  restuarant_same_direction_house       11802 non-null  int64
 15  Cooks regularly                       11802 non-null  int64
 16  Customer type                         11802 non-null  object
 17  Qualification                         11802 non-null  object
 18  is foodie                             11802 non-null  int64
 19  no_Take-aways                         11802 non-null  object
 20  Job/Job Industry                      11802 non-null  object
 21  restuarant_opposite_direction_house   11802 non-null  int64
 22  has Children                          11802 non-null  int64
 23  visit restaurant with rating (avg)    11802 non-null  int64
 24  temperature                           11802 non-null  int64
 25  Restaur_spend_greater_than20          11802 non-null  object
 26  Travel Time                           11802 non-null  int64
 27  Climate                               11802 non-null  object
 28  drop location                         11802 non-null  object
 29  Prefer home food                      11802 non-null  int64
 30  Offer Accepted                        11802 non-null  object
dtypes: int64(13), object(18)
memory usage: 2.9+ MB

In [ ]:
ese_hi = df['income_range'].replace('Less than ₹12500', 12500)
ese_hi = list(ese_hi.replace('₹100000 or More', 100000))

In [ ]:
from pandas.core.arrays.sparse import dtype
sjnsdkj = []
for i in ese_hi:
  if type(i) == str:
    sjnsdkj.append(i.split(' - '))
  else:
    sjnsdkj.append(i)
sjnsdkj[:10]

[100000,
 ['₹87500', '₹99999'],
 ['₹87500', '₹99999'],
 ['₹37500', '₹49999'],
 100000,
 12500,
 12500,
 ['₹50000', '₹62499'],
 ['₹12500', '₹24999'],
 ['₹75000', '₹87499']]

In [ ]:
income_avg = []
for i in sjnsdkj:
  avg = 0
  if type(i) == list:
    avg = (int(i[0][1:]) + int(i[1][1:]))/2
    income_avg.append(avg)
  else:
    income_avg.append(i)
income_avg[:10]

[100000,
 93749.5,
 93749.5,
 43749.5,
 100000,
 12500,
 12500,
 56249.5,
 18749.5,
 81249.5]

In [ ]:
df['income_range'] = income_avg

<ipython-input-16-8a473cd088cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income_range'] = income_avg

In [ ]:
df['no_visited_Cold drinks'].unique()

array(['4~8', 'less1', 'never', '1~3', 'gt8'], dtype=object)

In [ ]:
df['no_visited_Cold drinks'] = df['no_visited_Cold drinks'].replace('4~8', (4+8)/2)
df['no_visited_Cold drinks'] = df['no_visited_Cold drinks'].replace('less1', float(1))
df['no_visited_Cold drinks'] = df['no_visited_Cold drinks'].replace('never', float(0))
df['no_visited_Cold drinks'] = df['no_visited_Cold drinks'].replace('gt8', float(8))
df['no_visited_Cold drinks'] = df['no_visited_Cold drinks'].replace('1~3', (1+3)/2)

In [ ]:
df['Restaur_spend_less_than20'].unique()

array([1., 6., 2., 8., 0.])

In [ ]:
df['Restaur_spend_less_than20'] = df['Restaur_spend_less_than20'].replace('4~8', (4+8)/2)
df['Restaur_spend_less_than20'] = df['Restaur_spend_less_than20'].replace('less1', 1)
df['Restaur_spend_less_than20'] = df['Restaur_spend_less_than20'].replace('never', 0)
df['Restaur_spend_less_than20'] = df['Restaur_spend_less_than20'].replace('gt8', 8)
df['Restaur_spend_less_than20'] = df['Restaur_spend_less_than20'].replace('1~3', (1+3)/2)

In [ ]:
df['age'].unique()

array(['36', '50plus', '26', '46', '21', 'below21', '41', '31'],
      dtype=object)

In [ ]:
df['age'] = df['age'].replace('50plus', 50)
df['age'] = df['age'].replace('below21', 20)
df['age'] = df['age'].apply(pd.to_numeric)

In [ ]:
df['offer expiration'].unique()

array(['2days', '10hours'], dtype=object)

In [ ]:
df['offer expiration'] = df['offer expiration'].replace('2days', 2*24)
df['offer expiration'] = df['offer expiration'].replace('10hours', 10)

In [ ]:
df['no_visited_bars'].unique()

array(['less1', 'never', '1~3', '4~8', 'gt8'], dtype=object)

In [ ]:
df['no_visited_bars'] = df['no_visited_bars'].replace('4~8', (4+8)/2)
df['no_visited_bars'] = df['no_visited_bars'].replace('less1', 1)
df['no_visited_bars'] = df['no_visited_bars'].replace('never', 0)
df['no_visited_bars'] = df['no_visited_bars'].replace('gt8', 8)
df['no_visited_bars'] = df['no_visited_bars'].replace('1~3', (1+3)/2)

In [ ]:
df['no_Take-aways'].unique()

array(['1~3', 'gt8', '4~8', 'less1', 'never'], dtype=object)

In [ ]:
df['no_Take-aways'] = df['no_Take-aways'].replace('4~8', (4+8)/2)
df['no_Take-aways'] = df['no_Take-aways'].replace('less1', 1)
df['no_Take-aways'] = df['no_Take-aways'].replace('never', 0)
df['no_Take-aways'] = df['no_Take-aways'].replace('gt8', 8)
df['no_Take-aways'] = df['no_Take-aways'].replace('1~3', (1+3)/2)

In [ ]:
df['Restaur_spend_greater_than20'].unique()

array(['less1', '1~3', 'never', 'gt8', '4~8'], dtype=object)

In [ ]:
df['Restaur_spend_greater_than20'] = df['Restaur_spend_greater_than20'].replace('4~8', (4+8)/2)
df['Restaur_spend_greater_than20'] = df['Restaur_spend_greater_than20'].replace('less1', 1)
df['Restaur_spend_greater_than20'] = df['Restaur_spend_greater_than20'].replace('never', 0)
df['Restaur_spend_greater_than20'] = df['Restaur_spend_greater_than20'].replace('gt8', 8)
df['Restaur_spend_greater_than20'] = df['Restaur_spend_greater_than20'].replace('1~3', (1+3)/2)

In [ ]:
df.head()

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
0,48,100000.0,6.0,1,1.0,Married partner,4 star restaurant,36,0,0,...,0,0,4,67,1.0,22,Spring,Location B,0,No
1,48,93749.5,6.0,0,6.0,Married partner,Take-away restaurant,50,0,0,...,0,1,3,89,2.0,18,Summer,Location B,0,Yes
2,48,93749.5,1.0,1,2.0,Single,Cold drinks,26,1,0,...,1,1,4,67,1.0,7,Winter,Location A,1,Yes
3,10,43749.5,1.0,0,2.0,Single,Take-away restaurant,46,1,0,...,0,1,3,89,2.0,7,Summer,Location C,0,No
4,48,100000.0,0.0,1,2.0,Single,4 star restaurant,21,0,1,...,1,0,3,40,1.0,7,Summer,Location C,0,No

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11802 entries, 0 to 12378
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      11802 non-null  int64
 1   income_range                          11802 non-null  float64
 2   no_visited_Cold drinks                11802 non-null  float64
 3   travelled_more_than_15mins_for_offer  11802 non-null  int64
 4   Restaur_spend_less_than20             11802 non-null  float64
 5   Marital Status                        11802 non-null  object
 6   restaurant type                       11802 non-null  object
 7   age                                   11802 non-null  int64
 8   Prefer western over chinese           11802 non-null  int64
 9   travelled_more_than_25mins_for_offer  11802 non-null  int64
 10  travelled_more_than_5mins_for_offer   11802 non-null  int64
 11  no_visited_bars                       11802 non-null  float64
 12  gender                                11802 non-null  object
 13  car                                   11802 non-null  object
 14  restuarant_same_direction_house       11802 non-null  int64
 15  Cooks regularly                       11802 non-null  int64
 16  Customer type                         11802 non-null  object
 17  Qualification                         11802 non-null  object
 18  is foodie                             11802 non-null  int64
 19  no_Take-aways                         11802 non-null  float64
 20  Job/Job Industry                      11802 non-null  object
 21  restuarant_opposite_direction_house   11802 non-null  int64
 22  has Children                          11802 non-null  int64
 23  visit restaurant with rating (avg)    11802 non-null  int64
 24  temperature                           11802 non-null  int64
 25  Restaur_spend_greater_than20          11802 non-null  float64
 26  Travel Time                           11802 non-null  int64
 27  Climate                               11802 non-null  object
 28  drop location                         11802 non-null  object
 29  Prefer home food                      11802 non-null  int64
 30  Offer Accepted                        11802 non-null  object
dtypes: float64(6), int64(15), object(10)
memory usage: 2.9+ MB

In [ ]:
df['Marital Status'].unique()

array(['Married partner', 'Single', 'Divorced', 'Unmarried partner',
       'Widowed'], dtype=object)

In [ ]:
df['restaurant type'].unique()

array(['4 star restaurant', 'Take-away restaurant', 'Cold drinks',
       'Restaurant with pub', '2 star restaurant'], dtype=object)

In [ ]:
df['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
df['car'].unique()

array(['No_vehicle', 'Mazda5', 'Car that is too old to install Onstar :D',
       'crossover', 'Scooter and motorcycle', 'do not drive'],
      dtype=object)

In [ ]:
df['Customer type'].unique()

array(['Individual', 'With Family', 'With Kids', 'With Colleagues'],
      dtype=object)

In [ ]:
df['Qualification'].unique()

array(['Bachelors degree', 'Some college - no degree',
       'Graduate degree (Masters or Doctorate)', 'Associates degree',
       'High School Graduate', 'Some High School'], dtype=object)

In [ ]:
df['Job/Job Industry'].unique()

array(['Unemployed', 'Arts Design Entertainment Sports & Media',
       'Sales & Related', 'Student', 'Business & Financial',
       'Computer & Mathematical', 'Office & Administrative Support',
       'Management', 'Healthcare Support', 'Life Physical Social Science',
       'Installation Maintenance & Repair', 'Legal',
       'Education&Training&Library', 'Construction & Extraction',
       'Community & Social Services',
       'Healthcare Practitioners & Technical',
       'Transportation & Material Moving', 'Retired',
       'Architecture & Engineering', 'Production Occupations',
       'Farming Fishing & Forestry', 'Protective Service',
       'Personal Care & Service', 'Food Preparation & Serving Related',
       'Building & Grounds Cleaning & Maintenance'], dtype=object)

In [ ]:
df['Climate'].unique()

array(['Spring', 'Summer', 'Winter'], dtype=object)

In [ ]:
df['drop location'].unique()

array(['Location B', 'Location A', 'Location C'], dtype=object)

In [ ]:
df['Offer Accepted'].unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
import xgboost
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score

In [ ]:
feat_col = [c for c in df.columns if c not in ['Offer Accepted']]
X = df.loc[:, feat_col]
y = df.loc[:, 'Offer Accepted']

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse = False)

In [ ]:
from sklearn.compose import make_column_transformer
col_trans = make_column_transformer((OneHotEncoder(),
                                    ['Marital Status', 'restaurant type', 'gender', 'car', 'Customer type', 'Qualification', 'Job/Job Industry', 'Climate', 'drop location']),
                                    remainder = 'passthrough')
X = col_trans.fit_transform(X)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =  0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((9441, 80), (2361, 80), (9441,), (2361,))

In [ ]:
model_xgb = xgboost.XGBClassifier(learning_rate = 0.1,
                                  max_depth = 5,
                                  n_estimators = 5000,
                                  subsample = 0.5,
                                  colsample_bytree = 0.5,
                                  eval_metric = 'auc',
                                  verbosity = 1)
model_xgb.fit(X_train,
              y_train,
              early_stopping_rounds = 10,
              eval_set = [(X_test, y_test)],
              verbose = True)

[0]	validation_0-auc:0.581203
Will train until validation_0-auc hasn't improved in 10 rounds.
[1]	validation_0-auc:0.597728
[2]	validation_0-auc:0.612897
[3]	validation_0-auc:0.622176
[4]	validation_0-auc:0.629079
[5]	validation_0-auc:0.629694
[6]	validation_0-auc:0.629349
[7]	validation_0-auc:0.631209
[8]	validation_0-auc:0.632928
[9]	validation_0-auc:0.636941
[10]	validation_0-auc:0.637928
[11]	validation_0-auc:0.638814
[12]	validation_0-auc:0.638522
[13]	validation_0-auc:0.639832
[14]	validation_0-auc:0.640243
[15]	validation_0-auc:0.643051
[16]	validation_0-auc:0.641761
[17]	validation_0-auc:0.639281
[18]	validation_0-auc:0.637993
[19]	validation_0-auc:0.638576
[20]	validation_0-auc:0.641428
[21]	validation_0-auc:0.642227
[22]	validation_0-auc:0.64364
[23]	validation_0-auc:0.644712
[24]	validation_0-auc:0.646676
[25]	validation_0-auc:0.646068
[26]	validation_0-auc:0.647492
[27]	validation_0-auc:0.650463
[28]	validation_0-auc:0.65118
[29]	validation_0-auc:0.652068
[30]	validation_0-auc:0.652711
[31]	validation_0-auc:0.651609
[32]	validation_0-auc:0.65212
[33]	validation_0-auc:0.652126
[34]	validation_0-auc:0.651065
[35]	validation_0-auc:0.651451
[36]	validation_0-auc:0.650918
[37]	validation_0-auc:0.651591
[38]	validation_0-auc:0.651951
[39]	validation_0-auc:0.651425
[40]	validation_0-auc:0.651788
Stopping. Best iteration:
[30]	validation_0-auc:0.652711

XGBClassifier(colsample_bytree=0.5, eval_metric='auc', max_depth=5,
              n_estimators=5000, subsample=0.5)